header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, red 0%, white 50%, black 100%);
    padding: 36px 24px;
}

.header_logo {
    width: 100%;
    max-width: 600px;
    height: auto;
}